<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.agtsys.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="org.agtsys.domain.Account" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="moneyBak" property="moneybak" jdbcType="DOUBLE" />
  </resultMap>
  
   <insert id="insertAccount" parameterType="org.agtsys.domain.Account" >
    insert into as_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="moneybak != null" >
        moneyBak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="moneybak != null" >
        #{moneybak,jdbcType=DOUBLE},
      </if>
 </trim>
      </insert>
  <!-- <sql id="Base_Column_List" >
    id, userId, money, moneyBak
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from as_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from as_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.agtsys.domain.Account" >
    insert into as_account (id, userId, money, 
      moneyBak)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{money,jdbcType=DOUBLE}, 
      #{moneybak,jdbcType=DOUBLE})
  </insert>
 

  <update id="updateByPrimaryKeySelective" parameterType="org.agtsys.domain.Account" >
    update as_account
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="moneybak != null" >
        moneyBak = #{moneybak,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.agtsys.domain.Account" >
    update as_account
    set userId = #{userid,jdbcType=BIGINT},
      money = #{money,jdbcType=DOUBLE},
      moneyBak = #{moneybak,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>