<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.agtsys.dao.AccountdetailMapper" >
  <resultMap id="BaseResultMap" type="org.agtsys.domain.Accountdetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="detailType" property="detailtype" jdbcType="BIGINT" />
    <result column="detailTypeName" property="detailtypename" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="accountMoney" property="accountmoney" jdbcType="DOUBLE" />
    <result column="memo" property="memo" jdbcType="CHAR" />
    <result column="detailDateTime" property="detaildatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insertAccountDetail" parameterType="AccountDetail" >
    insert into as_accountdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="detailtype != null" >
        detailType,
      </if>
      <if test="detailtypename != null" >
        detailTypeName,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="accountmoney != null" >
        accountMoney,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="detaildatetime != null" >
        detailDateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="detailtype != null" >
        #{detailtype,jdbcType=BIGINT},
      </if>
      <if test="detailtypename != null" >
        #{detailtypename,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="accountmoney != null" >
        #{accountmoney,jdbcType=DOUBLE},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=CHAR},
      </if>
      <if test="detaildatetime != null" >
        #{detaildatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- <sql id="Base_Column_List" >
    id, userId, detailType, detailTypeName, money, accountMoney, memo, detailDateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from as_accountdetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from as_accountdetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.agtsys.domain.Accountdetail" >
    insert into as_accountdetail (id, userId, detailType, 
      detailTypeName, money, accountMoney, 
      memo, detailDateTime)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{detailtype,jdbcType=BIGINT}, 
      #{detailtypename,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, #{accountmoney,jdbcType=DOUBLE}, 
      #{memo,jdbcType=CHAR}, #{detaildatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.agtsys.domain.Accountdetail" >
    insert into as_accountdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="detailtype != null" >
        detailType,
      </if>
      <if test="detailtypename != null" >
        detailTypeName,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="accountmoney != null" >
        accountMoney,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="detaildatetime != null" >
        detailDateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="detailtype != null" >
        #{detailtype,jdbcType=BIGINT},
      </if>
      <if test="detailtypename != null" >
        #{detailtypename,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="accountmoney != null" >
        #{accountmoney,jdbcType=DOUBLE},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=CHAR},
      </if>
      <if test="detaildatetime != null" >
        #{detaildatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.agtsys.domain.Accountdetail" >
    update as_accountdetail
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="detailtype != null" >
        detailType = #{detailtype,jdbcType=BIGINT},
      </if>
      <if test="detailtypename != null" >
        detailTypeName = #{detailtypename,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="accountmoney != null" >
        accountMoney = #{accountmoney,jdbcType=DOUBLE},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=CHAR},
      </if>
      <if test="detaildatetime != null" >
        detailDateTime = #{detaildatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.agtsys.domain.Accountdetail" >
    update as_accountdetail
    set userId = #{userid,jdbcType=BIGINT},
      detailType = #{detailtype,jdbcType=BIGINT},
      detailTypeName = #{detailtypename,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      accountMoney = #{accountmoney,jdbcType=DOUBLE},
      memo = #{memo,jdbcType=CHAR},
      detailDateTime = #{detaildatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>